.sr {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sr__bg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.sr__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

scratch-reveal {
  display: inline-block;
  width: 100%;
  height: 100%;
}
